.comment {
    width: 100%;
    display: flex;
    gap: var(--spacing2);
    max-width: calc(100% - var(--spacing4));

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid var(--border);
    }

    &__holder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__author {
        color: var(--navigation__section-title);
        font-size: var(--text--medium);
        font-weight: var(--font--semibold);
    }

    &__time {
        color: var(--subtitle__color);
        font-size: var(--text--small);
        margin: auto 0;
    }

    &__text {
        color: var(--subtitle__color);
        font-size: var(--text--regular);
    }
}
