&-stat {
    background-color: var(--action__background);
    padding: var(--spacing1) var(--spacing3);
    border-radius: var(--rounded--large);
    font-size: var(--text--regular);

    &s {
        display: flex;
        justify-content: center;
        gap: var(--spacing3);
        flex-grow: 1;

        & > * {
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    &-count, &-label {
        text-align: center;
    }

    &-count {
        font-weight: var(--font--bold);
        color: var(--title__colour);
        font-size: var(--text--regular);
    }

    &-label {
        font-weight: var(--font--medium);
        color: var(--subtitle__colour);
        margin-top: -3px;
    }
}
