@import "../../Utilities/Mixins/Mixins";

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px; // TO DO: variable
    margin: 0 auto;
    gap: var(--spacing3);

    @include desktop {
        flex-direction: row;
    }

    &__section {
        display: flex;
        flex-direction: column;
        background: var(--border--muted);
        border-radius: var(--rounded--extralarge);
        padding: var(--spacing6);

        &-holder {
            display: flex;
            flex-direction: column;
            gap: var(--spacing3);
            flex-grow: 1;

            & .profile__section {
                flex-grow: 0;
            }
        }

        &--user {
            margin: 0 auto;
        }
    }

    @import "_User";
}
