&__button {
    border: 0;
    border-radius: var(--rounded--large);
    background-color: var(--action__background);
    font-size: var(--text--regular);
    padding: var(--spacing2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing1);
    text-decoration: none;
    color: var(--subtitle__colour);
    cursor: pointer;

    &--primary {
        background-color: var(--primary__colour);
        color: var(--title__colour);
        font-weight: var(--font--semibold);
    }

    &--secondary {
        flex-grow: 0.5 !important;
    }

    &--rounded {
        border-radius: 30px;
    }
}
