@import "../../Utilities/Mixins/Mixins";

$contentAsideWidth: 1.5rem;

.pageContent {
    position: relative;
    margin-top: var(--header--height);
    flex-grow: 1;
    display: flex;
    overflow-x: auto;

    & #pageContent__aside--open {
        display: none;

        &:checked {
            & ~ .pageContent__main {
                // ViewPort - content aside padding - Width of Content Aside - Main Padding
                min-width: calc(100vw - (calc(var(--spacing3) * 2)) - $contentAsideWidth - var(--border--width) - calc(var(--spacing8) * 2));
            }

            & ~ .pageContent__aside {
                max-width: var(--navigation--width);

                & .nav {
                    opacity: 1;
                }

                & .pageContent__aside-label {
                    display: none;
                }

                & label {
                    margin-right: 0;

                    & .icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    @include desktop {
        margin-top: unset;
        margin-left: var(--navigation--width);
        min-width: calc(100vw - var(--navigation--width));
    }

    &__aside {
        width: calc(var(--navigation--width) - (var(--spacing3) * 2));
        border-right: var(--border--width) solid var(--border);
        padding: var(--spacing3);
        padding-top: var(--spacing4);
        max-width: $contentAsideWidth;
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: var(--spacing4);
        @include transition(max-width);
        overflow-x: hidden;

        & label {
            margin-left: auto;
            margin-right: auto;
            @include transition(margin-right);

            & .icon {
                width: 100%;
            }
        }

        &-label {
            display: block;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-bottom: var(--spacing4);
            font-weight: var(--font--bold);
        }

        & .nav {
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
        }

        @include tablet {
            max-width: var(--navigation--width);
            padding-top: var(--spacing6);

            & .nav {
                opacity: 1;
            }

            & label {
                display: none;
            }
        }

    }

    &__main {
        flex-grow: 1;
        overflow-y: auto;
        position: relative;
        padding: var(--spacing4);

        @include tablet {
            padding: var(--spacing7) var(--spacing12);
            min-width: unset !important;
        }

        &:has(.content__footer) {
            padding-bottom: 6rem; // TO DO: proper footer limit
        }

        &:has(.modal--open) {
            max-height: calc(100vh - var(--header--height) - 56px); // TO DO: find what this 56px is and why its needed
            overflow: hidden;

            @include desktop {
                max-height: calc(100vh - 56px);
            }
        }
    }

}
