@import "../../Utilities/Mixins/Mixins";

.hoverImage {
    --overlay-colour: rgba(26, 27, 36, 0.25);
    --background-colour: var(--colour);

    position: relative;
    margin-bottom: var(--spacing4);
    display: flex;
    width: 100%;
    border-radius: var(--rounded--medium);
    background-color: var(--background-colour);

    &:hover {
        & .hoverImage__image--overlay {
            opacity: 1;
        }
    }

    &__image {
        width: 100%;
        max-height: calc(50vh);
        min-height: 156px;
        height: auto;
        object-fit: cover;
        border-radius: var(--rounded--medium);

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: var(--layer--content);
            display: flex;
            background-color: var(--overlay-colour);
            opacity: 0;
            --transition--length: 0.1s;
            @include transition(opacity);
        }

        &--controls {
            display: flex;
            flex-direction: column;
            gap: var(--spacing3);
            position: absolute;
            bottom: 0;
            right: 0;
            padding: var(--spacing3);

            & .control__actionable {
                --actionable--size: 2.25rem;
                --actionable--opacity: 0.75;

                &:has(img) {
                    --actionable--opacity: 0.95;
                }

            }
        }
    }
}
