&__card {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    background: var(--border--muted) var(--imageUrl);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    border-radius: var(--rounded--extralarge);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title, &-subtitle {
        text-align: center;
        padding: 0 var(--spacing2);
    }

    &-title {
        color: var(--title__colour);
        font-weight: var(--font--semibold);
    }

    &-subtitle {
        font-size: var(--text--regular);
    }

    @import "_User";
}
