@import "../../Utilities/Mixins/Mixins";

.authentication {
    position: relative;
    overflow: hidden;

    &__auth {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: var(--layer--overlay);
        min-width: 20rem;  // TO DO: variable
        display: flex;
        flex-direction: column;
        padding: var(--spacing12) var(--spacing6) var(--spacing6);
        gap: var(--spacing24);
        background-color: var(--content__background);

        @include tablet() {
            left: unset;
            border-left: 2px solid var(--border);
            max-width: 20rem; // TO DO: variable
        }
    }

    &__header {

    }

    @import "_Footer";
    @import "_Form";
    @import "_Images";
}
