@import "../../Utilities/Mixins/Mixins";

.navigation {

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: var(--action__background);
        height: var(--header--height);
        z-index: 1000; // TO DO: variable
        padding: 0 var(--spacing4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid var(--border--muted); // TO DO: variable

        @include desktop {
            width: calc(var(--navigation--width) - calc(var(--spacing4) * 2));
            background-color: var(--navigation__background);
            border-bottom: unset;
            border-right: var(--border--width) solid var(--border);

        }
    }

    & input {
        display: none;

        &:checked {
            & ~ .navigation__bar {
                right: 0;
            }

            & ~ .navigation__shade {
                backdrop-filter: blur(2px); // TO DO: variable
                pointer-events: unset;
            }

        }
    }

    &__bar {
        position: fixed;
        z-index: 250; // TO DO: variable
        max-width: calc(var(--navigation--width) - (var(--spacing3) * 2));
        width: 100%;
        background-color: var(--navigation__background);
        opacity: 0.85;
        top: var(--header--height);
        bottom: 0;
        right: calc(var(--navigation--width) * -1);
        padding: var(--spacing3);
        border-left: 2px solid var(--border--muted);
        @include transition(right);
        display: flex;
        flex-direction: column;
        gap: var(--spacing3);

        & .nav {
            flex-grow: 1;
        }

        @include desktop {
            right: unset !important;
            border-left: unset;
            border-right: var(--border--width) solid var(--border);
            opacity: 1;
        }

    }

    &__toggle {
        @include desktop {
            display: none;
        }
    }

    &__shade {
        position: fixed;
        z-index: 200; // TO DO: variable
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        @include transition(backdrop-filter);

        @include desktop {
            display: none;
            pointer-events: none !important;
        }
    }

    &__auth {
        margin: calc(var(--spacing3) * -1);
        padding: var(--spacing2) var(--spacing3);
        display: flex;
        gap: var(--spacing3);
        border-top: var(--border--width) solid var(--border);
        background-color: var(--navigation__auth--background);

        &--actions {
            display: flex;
            gap: var(--spacing2);
            width: 100%;

            & a, .control__button {
                display: flex;
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }

    &__user {
        display: flex;
        flex-grow: 1;
        gap: var(--spacing2);
        min-width: 0;
        text-decoration: none;
        color: var(--subtitle__colour);

        & span {
            margin: auto 0;
            font-size: var(--section__subtitle--size);
            font-weight: var(--font--medium);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & img {
            height: 2rem;
            border-radius: 50%;
            border: var(--border--width) solid var(--subtitle__colour);
            aspect-ratio: 1/1;
        }
    }

    &__actions {
        display: flex;
        gap: var(--spacing3);
        margin: auto 0;
    }
}
