.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border);
    background-color: var(--action__background);
    padding: var(--spacing4) var(--spacing12);
}