@import "../Utilities/Mixins/Mixins";
@import "_InternalThemeVariables";
@import "_Spacing";

// Dynamic Properties
$properties: (
    //Property Name                         Light Theme                         Dark Theme
    ("--title__colour",                 "rgba(12 26 29)",                  "rgba(255 255 255)"),
    ("--subtitle__colour",              "rgba(103 107 120)",                  "rgba(145 150 168)"),
    ("--default-text__colour",          "rgba(57 59 66)",                  "rgba(145 150 168)"),
    ("--border",                        "rgba(190 198 199)",                  "rgba(32 34 45)"),
    ("--border--muted",                 "rgba(217 217 217)",                  "rgba(23 23 32)"),
    ("--navigation__background",        "rgba(227 227 227)",                  "rgba(8 9 13)"),
    // ("--navigation__auth--background",        "rgba(255 255 255)",                  "rgba(0 0 0)"),
    ("--navigation__text",              "rgba(86 86 106)",                  "rgba(224 225 230)"),
    ("--navigation__text--active",      "rgba(0 0 0)",                  "rgba(255, 255, 255)"),
    ("--navigation__section-title",     "rgba(79 93 96)",                  "rgba(192 194 206)"),
    ("--content__background",           "rgba(241 241 241)",                  "rgba(18 18 25)"),
    ("--action__background",            "rgba(216 218 227)",                  "rgba(32 34 45)"),
    ("--action__background--selected",  "rgba(190 190 200)",                  "rgba(18 18 25)"),
    ("--section__title-colour",         "rgba(18 19 23)",                  "rgba(232 233 237)"),
    ("--section__subtitle-colour",      "rgba(145 150 168)",                  "rgba(145 150 168)"),
    ("--table__text--colour",           "rgba(65 67 72)",                  "rgba(145 150 168)"),
    ("--table__border-colour",          "rgba(0, 0, 0, .1)",                  "rgba(255, 255, 255, .1)"),
    ("--table__row--hover",             "rgba(255 0 0)",                  "rgba(39, 41, 52)"),
    ("--table__row--even",              "rgba(204 206 216)",                  "rgba(35, 38, 50)"),
);

// Static Properties
:root {
    --primary__colour: rgb(37 153 255);
    --error__colour: rgb(197, 87, 87);
    --success__colour: rgb(0, 255, 0);
    --navigation--width: 15rem;
    --max-content--width: 1500px;
    --border--width: 1px;
    --table__border--width: 1px;
    --table__border--header: var(--table__border--width) solid var(--table__border-colour);
    --table__border--footer: var(--table__border--width) solid var(--table__border-colour);
    --table__border--row: var(--table__border--width) dashed var(--table__border-colour);
    --rounded--medium: .25rem;
    --rounded--large: .5rem;
    --rounded--extralarge: 1rem;
    --control--maxWidth: 100%;
    --title--size: 1.5rem;
    --section__subtitle--size: .84rem;
    --navigation__dropdown--gap: .125rem;
    --icon--size: .75rem;
    --transition--length: .25s;

    --header--height: 3rem;

    @include desktop {
       --header--height: 6rem;
    }

    --font--extralight: 100;
    --font--light: 200;
    --font--thin: 300;
    --font--regular: 400;
    --font--medium: 500;
    --font--semibold: 600;
    --font--bold: 700;
    --font--black: 800;
    --font--extrabold: 900;

    --text--small: 10px;
    --text--regular: 12px;
    --text--medium: 14px;
    --text--large: 18px;
    --text--extralarge: 20px;
    --text--enormous: 24px;
}

/* Dark Theme -------------------------------------------- */
@media (prefers-color-scheme: dark) {
    :root {
        @each $property in $properties {
            @if nth($property,3) != "" {
                #{nth($property,1)}: #{nth($property,3)};
            }
        }
        color-scheme: dark;
    }
}
.theme--dark {
    @each $property in $properties {
        @if nth($property,3) != "" {
            #{nth($property,1)}: #{nth($property,3)} !important;
        }
    }
    color-scheme: dark;
}

/* Light Theme -------------------------------------------- */
@media (prefers-color-scheme: light) {
    :root {
        @each $property in $properties {
            @if nth($property,2) != "" {
                #{nth($property,1)}: #{nth($property,2)};
            }
        }
    }
}
.theme--light {
    @each $property in $properties {
        #{nth($property,1)}: #{nth($property,2)} !important;
    }
    color-scheme: light;
}

@import "Fonts/Fonts";
