&__input {
    & input, textarea{
        background: var(--action__background);
        padding: var(--spacing2);
        border-radius: var(--rounded--large);
        border: none;
        color: var(--section__title-colour);
        display: block;
        width: calc(var(--control--maxWidth) - calc(var(--spacing2) * 2));

        &[type="color"] {
            width: 50px;
            height: 50px;
        }

    }

    &--error {
        color: rgb(197, 87, 87); // TO DO: variable;
        font-size: 12px;
        margin: var(--spacing1);
    }

    & .error {
        border: 2px solid rgba(197, 87, 87); // TO DO: variable
    }
}
