.header {
    margin-top: var(--spacing3);

    &__title {
        font-size: var(--title--size);
        font-weight: var(--font--bold);
        color: var(--title__colour);
    }

    &__subtitle {
        font-size: var(--section__subtitle--size);
        color: var(--subtitle__colour);
        margin-top: var(--spacing1);
    }

    &__holder {
        flex-grow: 1;
        display: flex;
        gap: var(--spacing6);
    }

    &__titles {
        flex-grow: 1;
    }

    &__actions {
        margin: auto 0;

        &-holder {
            display: flex;
            gap: var(--spacing3);
        }
    }

    & .seperator {
        margin: var(--spacing4) 0;
    }

}
