.header {
    margin-top: var(--spacing3);

    &__title {
        font-size: 1.5rem; // TO DO: variable
        font-weight: 700; // TO DO: variable
        color: var(--title__colour);
    }

    &__subtitle {
        font-size: var(--section__subtitle--size);
        color: var(--subtitle__colour);
        margin-top: var(--spacing1);
    }

    & .seperator {
        margin: var(--spacing4) 0;
    }

}
