@import "../../Theme/_InternalThemeVariables";

@mixin transition($variable) {
    transition: $variable var(--transition--length) ease-in-out;
}

@mixin tablet {
    @media (min-width: $tabletWidth) {
        @content;
    }
}

@mixin tabletLarge {
    @media (min-width: $tabletLargeWidth) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopWidth) {
        @content;
    }
}

@mixin tv {
    @media (min-width: $tvWidth) {
        @content;
    }
}

@mixin avatar {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: var(--avatar--size);
    object-fit: cover;
}

@mixin backgroundImageCover {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}
