&__comments {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    &-holder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing2);
        overflow-y: auto;

        &--feedback {
            font-size: var(--text--medium);
            text-align: center;
            color: var(--subtitle__colour);
            opacity: 0.75;
            margin: var(--spacing6) auto;

            @include tablet() {
                margin: auto;
            }

        }
    }

    & .section__title, & .post__comments-actions {
        flex-shrink: 0;
    }

    &-actions {
        margin-top: var(--spacing2);
        display: flex;
        gap: var(--spacing2);
    }

    &-input {
        flex-grow: 1;
        background: var(--action__background);
        padding: 0 var(--spacing2);
        border-radius: 32px;
        color: var(--section__title-colour);
        display: flex;
        gap: var(--spacing1);

        & input {
            flex-grow: 1;
            border: none;
            background: none;
        }

        &--feedback {
            font-size: var(--text--small);
            margin: auto 0;
            color: var(--subtitle__colour);
            margin-right: var(--spacing1);

            &--error {
                color: var(--error__colour);
            }
        }
    }

    &-button {
        height: 32px;
        width: 32px;
        background: var(--action__background);
        border: none;
        border-radius: 32px;
        color: var(--subtitle__colour);

        &:disabled {
            opacity: 0.35;
        }
    }
}
