&__info {
    padding: var(--spacing6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing2);
    min-height: calc(600px - calc(var(--spacing6) * 2));
    flex-grow: 1;
    overflow-y: auto;

    @include tablet() {
        height: auto;
        max-height: calc(700px - calc(var(--spacing6) * 2) - calc(var(--spacing6) * 2));
    }

    @include desktop() {
        padding-left: 0;
        max-height: calc(700px - calc(var(--spacing6) * 2));
    }

    & .section {
        & input {
            display: none;

            &:checked {
                & ~ .section__subtitle {
                    display: block;
                }

                & ~ .post__description-toggle {
                    &::before {
                        content: "Show Less";
                    }
                }
            }
        }

        &__title {
            font-size: var(--text--enormous);
            font-weight: var(--font--extrabold);
            margin-bottom: 0;
        }

        &__subtitle {
            margin-bottom: var(--spacing1);
        }

        &__title, &__subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    & .post__description-toggle {
        margin-left: auto;
        font-size: var(--text--regular);
    }

    & .seperator {
        margin-top: 0;
    }
}
