@import "../../Utilities/Mixins/Mixins";

.control {
    @import "Actionable/Actionable";
    @import "Button/Button";
    @import "Dropdown/Dropdown";
    @import "Input/Input";
    @import "Toggle/Toggle";
    @import "Table/Table";

    @include tablet {
        --control--maxWidth: 50%;
    }

    @include tv {
        --control--maxWidth: 25%;
    }

    &:disabled, &>:disabled {
        opacity: 0.5; // TO DO: variable
        pointer-events: none;
    }
}
