@import "../../Utilities/Mixins/Mixins";

.posts {
    --max-width: 1350px; // TO DO: variable

    column-count: 2;
    column-gap: var(--spacing4);
    max-width: var(--max-width);
    margin: 0 auto;

    @include tablet {
        column-count: 3;
    }

    @include desktop {
        column-count: 4;
    }

    @include tv {
        // --max-width: 1600px; //TO DO: move to tv+
        column-count: 5;
    }
}
