@import "../../Utilities/Mixins/Mixins";

.posts {
    column-count: 2;
    column-gap: var(--spacing4);
    max-width: var(--posts--maxWidth);
    margin: 0 auto;

    @include tablet {
        column-count: 3;
    }

    @include desktop {
        column-count: 4;
    }

    @include tv {
        column-count: 5;
    }
}
