.error {
    position: relative;
    overflow: hidden;

    &__holder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include backgroundImageCover;
    }

    &__title {
        color: var(--title__colour);
        font-weight: var(--font--black);
        font-size: 52px;
    }

    &__subtitle {
        color: var(--subtitle__colour);
        margin-bottom: var(--spacing3);
    }
}
