@import "../../Utilities/Mixins/Mixins";

.onboarding {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--spacing12);
    justify-content: center;

    @include tablet {
        padding: var(--spacing6);
        backdrop-filter: blur(10px); // TO DO: variable
        background-color: rgba(0, 0, 0, 0.85);  // TO DO: variable
    }

    &__header {
        margin-top: var(--spacing12);

        @include tablet {
            margin-top: 0;
        }

        & .logo {
            &:before {
                color: rgba(255 255 255) !important;
            }
        }
    }

    &__holder, &__footer {
        margin: 0 auto;
        max-width: 800px;  // TO DO: variable
        width: 100%;
    }

    &__footer {
        margin-top: auto;

        @include tablet {
         margin-top: calc(var(--spacing8) * -1);
        }
    }

    &__holder {
        z-index: var(--layer--overlay);
        display: flex;
        flex-direction: column;
        gap: var(--spacing4);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing4);

        & .control {
            --control--maxWidth: 100% !important;
        }
    }

    @import "_Step";
    @import "_Card";
}
